* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

#header{
       display:flex;
       align-items: center;
       justify-content:space-between;
       padding: 20px 80px;
       background-color:rgb(154, 143, 143);
       box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
       z-index: 999;
       position: sticky;
       top: 0;
       left: 0;
} 

#navbar{
    display: flex;
    align-items: center;
    /* justify-content: s; */
    /* padding: 20px 80px; */
    /* background-color:aliceblue;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06) ; */
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover{
         color: #088178;
         text-decoration: underline;
}
 /* HOME PAGE */

 #hero{
    background-image: url("hero4.png");
    height: 90vh;
    width: 100%;
    background-position: top 25% right 25%;
    background-size: cover;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
 }

 #hero button,p,h1,h2,h4{
   padding-bottom: 15px;
 }

#hero h1{
    color: #088178;
}

#hero button{
    background-image: url("button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

/* #feature{
    padding: 40px 80px ;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
} */

#feature .fe-box1{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #e0f5f0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box1:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

/* #feature .fe-box2:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
} */


#feature .fe-box1 h6{
    padding: 9px 8px 4px 4px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    display: inline-block;
    /* margin-left: 15px;
    margin-right: 15px; */
}

/* #feature .fe-box2 h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    display: inline-block;
} */

/* #feature .fe-box2 img{
    width: 100%;
    margin-bottom: 10px;
} */

#feature .fe-box1 img{
    width: 100%;
    margin-bottom: 10px;
}

/* #feature .fe-box2{
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
        border: 1px solid #adc4bf;
        border-radius: 4px;
        margin: 15px 0;
        margin-left: auto;
        margin-right: auto;
} */

#feature{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* margin-left: 12px;
    margin-right: 12px; */
}
.section-p1{
    padding: 40px 90px;
}

#feature .fe-box1:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .fe-box1:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box1:nth-child(4) h6{
    background-color: #cdd4f6;
}

/* #feature .fe-box1:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-box1:nth-child(6) h6{
    background-color: #fff2e5;
} */

#feature1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* margin-left: 12px;
    margin-right: 12px; */
}

#feature1 .fe-box2{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}



#feature1 .fe-box2:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature1 .fe-box2 h6{
    padding: 9px 8px 4px 4px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    display: inline-block;
    /* margin-left: 15px;
    margin-right: 15px; */
}

#feature1 .fe-box2 img{
    width: 100%;
    margin-bottom: 10px;
}

.fa-solid fa-cart-shopping{
    font-size: 100px;
}

#product1{
    text-align: center;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(206, 194, 19)

}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

/* #product1 .pro .shopping{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
} */

#product1 .pro .shopping{
    
    color: #088178;
    background-color: #e8f6ea;
    padding: 2px 4px;
    border-radius: 50px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 25px;
    right: 15px;

}

#product1 .pro .shopping:hover{
     color: #2880d8;
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}


#navbar .cart{
    font-size: larger
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#banner{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("b2.jpg");
}

#banner h3{
    color: #fff;
    font-size: 16px;
}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636;
}

button.normal{
    font-size: 11px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    display: inline-block;
    cursor: pointer;
    /* border: none;
    outline: none; */
    transition: 0.2s;
    padding: 10px 10px;
    border-radius: 4px;
}

button.normal:hover{
    color: #fff;;
    background-color: #088178;
    text-decoration: underline;
}
 
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("b14.png");
    background-position: no-repeat; 
    background-position: 100% 50%; 
    background-color: #041e42;
    padding: 40px 40px;
}
#newsletter .newstext h4{
    font-size: 22px;
    font-weight: 700;
    padding-top: 8px;
    color: #fff;
}

#newsletter .newstext p{
    color: #818ea0;
    font-size: 14px;
    font-weight: 600;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter input{
    height: 2.235rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 3px;
}

#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 40px;

}

#newsletter .form{
    display: flex;
    width: 40%;

}

/* .margin-m1{
    margin: 5px 5px;
} */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow{
    color: #465b52;
    cursor: pointer;
    padding-right: 4px;

}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;

}

footer install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* 
@media(max-width:799){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
} */

/* @media(max-width:799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0px;
        height: 100vh;
        width: 300px;
    }
} */

/* #newsletter .form{
    color: #088178;
    background-color: #041e42;
    padding: 10px 15px;
    border-radius: 6px;
    background-image: url("b14.png");
    background-repeat: no-repeat;
    background-position:20% 30%;

} */

/* #newsletter input{
    font-size: 15px;
} */

/* .pro-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 20px;
} */

/* .fa-big{
    font-size:1000px;
 } */

/* #feature .fe-box1:nth-child(2) div{
    padding: 0 15px;
} */

/* #feature .fe-box1{
    
    padding: 25px 15px;
    box-shadow: 30px 20px 34px rgba(0, 0, 0, 0.03);
    text-align: center;
    border-radius: 4px;
    margin: 15px 0px;
}

#feature .fe-box1 img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box1:hover{
    box-shadow: 10px 10px 64px rgba(70, 62, 221, 0.1);
}

#feature .fe-box1 h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    color: #088178;
    border-radius: 4px;
    background-color: #fddde4;
}

#feature .fe-box2:hover{
    box-shadow: 10px 10px 64px rgba(70, 62, 221, 0.1);
}

#feature .fe-box2{
    width: 100%; 
   padding: 25px 15px;
    box-shadow: 30px 20px 34px rgba(0, 0, 0, 0.03);
    text-align: center;
    border-radius: 4px;
    margin: 15px 0px;
}

#feature .fe-box2 img{
    width: 100%;
    margin-bottom: 10px;
}



#feature .fe-box2 h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    color: #088178;
    border-radius: 4px;
    background-color: #fddde4;
}

#feature .fe-box3{
    
    padding: 25px 15px;
    box-shadow: 30px 20px 34px rgba(0, 0, 0, 0.03);
    text-align: center;
    border-radius: 4px;
    margin: 15px 0px;
}

#feature .fe-box3 img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box3:hover{
    box-shadow: 10px 10px 64px rgba(70, 62, 221, 0.1);
}

#feature .fe-box3 h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    color: #088178;
    border-radius: 4px;
    background-color: #fddde4;
}

#feature .fe-box4{
    
    padding: 25px 15px;
    box-shadow: 30px 20px 34px rgba(0, 0, 0, 0.03);
    text-align: center;
    border-radius: 4px;
    margin: 15px 0px;
}

#feature .fe-box4 img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box4:hover{
    box-shadow: 10px 10px 64px rgba(70, 62, 221, 0.1);
}

#feature .fe-box4 h6{
    display: inline-block;
    padding: 9px 8px 10px 10px;
    line-height: 1;
    color: #088178;
    border-radius: 4px;
    background-color: #fddde4;
}  


